<%= form_for @message, url: contact_path do |message_form| %>
  <fieldset>
    <div class="field">
      <%= message_form.text_field :name, placeholder: "П.I.Б." %>
    </div>
    
    <div class="field">
      <%= message_form.text_field :studywork, placeholder: "Мiсце навчання / роботи" %>
    </div>
    
     <div class="field">
      <%= message_form.text_field :phone, placeholder: "Телефон" %>
    </div>
    
    <div class="field">
    	<%= message_form.number_field :year_birth, value: "2016"%>
    </div>
    <div class="field">
      <%= message_form.email_field :email, placeholder: "Email"%>
    </div>
    
    <div class="field">
      <%= message_form.text_area :content, placeholder: "Message"%>
    </div>
  </fieldset>
  
  <%= raw recaptcha_tags %>
  
  <fieldset>
    <div class="field">
      <%= message_form.submit "Вiдправити" %>
    </div>
  </fieldset>
<% end %>