<div class="event-align col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
<div class="team-wrapper col-xs-12 col-sm-12 col-md-10 col-lg-9">
	
	<h2>Наша команда</h2>
	
	<div class="our-team col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
		<div class="team-name  col-xs-12 col-sm-12 col-md-12 col-lg-12">Жуковський Євген</div>
		<div class="team-face col-xs-5 col-sm-3 col-md-3 col-lg-3">
			<%= image_tag 'team/team2.jpg'%>
		</div>
		<div class="team-text col-xs-7 col-sm-9 col-md-9 col-lg-9">
			<p> Голова КРМЮ. Студент Інституту підготовки кадрів для органів юстиції України НЮУ                 
                   ім. Ярослава Мудрого.</p>
			<span>Тел.: 093 250 12 12</span>
			<span>Електронна адреса: evgeniy.zhukovskiy.big@gmail.com</span>
		</div>
	</div>
	
	<div class="our-team col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
		<div class="team-name col-xs-12 col-sm-12 col-md-12 col-lg-12">Перестюк Олександр</div>
		<div class="team-face col-xs-5 col-sm-3 col-md-3 col-lg-3">
			<%= image_tag 'team/team2.jpg'%>
		</div>
		<div class="team-text col-xs-7 col-sm-9 col-md-9 col-lg-9">
			<p> Перший заступник Голови КРМЮ. Студент Інституту підготовки кадрів для органів юстиції 
				України НЮУ ім. Ярослава Мудрого.</p>
			<span>Тел.:  067 388 61 51</span>
			<span>Електронна адреса: oleksandr.perestiuk@ukr.net</span>
		</div>
	</div>
	
	<div class="our-team col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
		<div class="team-name col-xs-12 col-sm-12 col-md-12 col-lg-12">Пономаренко Євген</div>
		<div class="team-face col-xs-5 col-sm-3 col-md-3 col-lg-3">
			<%= image_tag 'team/team2.jpg'%>
		</div>
		<div class="team-text col-xs-7 col-sm-9 col-md-9 col-lg-9">
			<p> Другий заступник Голови КРМЮ. Студент Інституту підготовки кадрів для органів    
                 прокуратури України НЮУ ім. Ярослава Мудрого.</p>
			<span>Тел.:</span>
			<span>Електронна адреса:</span>
		</div>
	</div>
	
	<div class="our-team col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
		<div class="team-name col-xs-12 col-sm-12 col-md-12 col-lg-12">Грицай Вікторія</div>
		<div class="team-face col-xs-5 col-sm-3 col-md-3 col-lg-3">
			<%= image_tag 'team/team2.jpg'%>
		</div>
		<div class="team-text col-xs-7 col-sm-9 col-md-9 col-lg-9">
			<p>  Секретар КРМЮ. Студентка Інституту підготовки кадрів для органів юстиції України 
                  НЮУ ім. Ярослава Мудрого.</p>
			<span>Тел.:093 818 89 57</span>
			<span>Електронна адреса: grucayvika@hotmail.com </span>
		</div>
	</div>
	<div class="other-team col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<p id="others-team">Інші учасники Координаційної ради молодих юристів при ГУ юстиції у Харківській області:</p>
		<div class="other-team-name col-xs-12 col-sm-6 col-md-5 col-lg-5">
			<span>Борис Тарас</span>
			<span>Крайня Катерина</span>
			<span>Коновалова Ілона</span>
			<span>Токарчук Тетяна</span>
			<span>Грабовська Яна</span>
			<span>Красицька Катерина</span>
			<span>Микитенко Марія </span>
			<span>Трофимчук Дарина </span>
			<span>Зелінський Ігор </span>
			<span>Живило Вікторія</span>
			<span>Науменко Анна</span>
			<span>Яременко Антон</span>
			<span>Басараб Юля</span>
			<span>Андрущенко Анна </span>
			<span>Мейсар Андрій</span>
			<span>Чередниченко Юлія</span>
			<span>Семенюк Тетяна</span>
			<span>Льода Христина </span>
			
		</div>
		<div class="other-team-foto col-xs-12 col-sm-6 col-md-7 col-lg-7">
			<%= image_tag 'team/team2.jpg'%>
			<%= image_tag 'team/team2.jpg'%>
			<%= image_tag 'team/team2.jpg'%>
			<%= image_tag 'team/team2.jpg'%>
			
		</div>
	</div>
	<div class=" anchor col-xs-1 col-sm-1 col-md-1 col-lg-1"><a  id="move_up" href="#anchor">Наверх</a></div>
</div>
</div>
